body {
    margin: 0;
    padding: 0;
    width: 1200px;

    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    text-transform: uppercase;

    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-header {
    background-color: #ffffff;
}

.main-nav ul {
    list-style: none;
} 

.nav li {
    text-align: left;
}

.nav li:nth-child(3),
.nav li:nth-child(4) {
    text-align: right;
}

.nav a {
    font-weight: bold;
    color: #000000;
}

.nav a:hover {
    color: #a3c7de;
}

.nav a:active {
    color: #000000;
    opacity: 0.3;
}

.main-index {
    text-align: center;
}

.main-image {
    /*
    position: relative;
    height: 508px; 
    рано? */
    background: #45535e url("../img/background-photo.jpg") no-repeat;
}

/* 
.main-image::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 58px;
    width: 1200px;
    background: url("../img/polygon.png") no-repeat; 
}

.welcome-img {
    margin-top: 78px;
    margin-bottom: 77px;
}
Рано */

.feature-title {
    color: #000000;
    background-color: #ffffff;
}

.feature-title h2 {
    font-size: 21px;
    font-weight: 700;
}

.features-image {
    color: #ffffff;
    background-color: #81b3d2;
}

.feature-item {
    line-height: 21px;
}

.feature-item h3 {
    font-size: 21px;
    font-weight: 700;
}

.feature-icons {
    color: #000000;
    background-color: #ffffff;
}

.feature-icons ul {
    list-style: none;
}

.features ul {
    list-style: none;
}

.features {
    color: #000000;
    background-color: #eeeeee;
}

.interested {
    color: #000000;
    background-color: #ffffff;
}

.int-container h2 {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}

.int-container p {
    line-height: 24px;
}

.search-btn {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    color: #ffffff;

    background-color: #766357;
}

.search-btn:hover {
    background-color: #604e43;
}

.search-btn:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}

.map {
    width: 1200px; /* временно */
    height: 593px; 
    background-image: url("../img/map.jpg");
}

.footer {
    text-align: center;
    color: #000000;
    background-color: #ffffff;
}

.footer-contacts a {
    font-size: 21px;
    font-weight: 700;
    color: #000000;
}

/*
.social-btn {
    display: inline-block;
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
}

.social-btn:hover {
    background-color: #669ec0;
}

.social-btn:active {
    background-color: #5496bd;
}

.social-btn-tw {
    background-image: url("../img/twitter.svg");
    background-repeat: no-repeat;
    background-size: 17px 15px;
    background-position: 50% 50%;
}

.social-btn-fb {
    background-image: url("../img/fb-icon.svg");
    background-repeat: no-repeat;
    background-size: 12px 22px;
    background-position: 50% 50%;
}

.social-btn-yt {
    background-image: url("../img/youtube.svg");
    background-repeat: no-repeat;
    background-size: 20px 16px;
    background-position: 50% 50%;
}

Рано? */

.academy-btn {

}

/* hotels.html */

.nav .current,
.nav .current:hover,
.nav .current:active {
    color: #766357;
    opacity: 1;
}

.hotels-filter {
    width: 1200px; /* временно */

    color: #ffffff;

    background: #84a3c2 url("../img/filter-background.jpg") no-repeat;
}

.form-filter {
    line-height: 21px;
}

.form-filter legend {
    font-size: 16px;
    font-weight: 700;
}

fieldset {
    border: none;
}

fieldset ul {
    list-style: none;
}

.cost-title {
    font-size: 16px;
    font-weight: 700;
}

.results {
    color: #000000;

    background-color: #ffffff;
    border-bottom: 1px solid #e5e5e5;
}

.found {
    font-size: 21px;
    font-weight: 700;
}

.sorting {
    font-size: 12px;
    line-height: 18px;
}

.sorting ul {
    list-style: none;
}

.sorting a {
    color: #000000;
    opacity: 0.3;
    border-bottom: 1px dotted #81b3d2;
}

.sorting a:hover {
    color: #81b3d2;
    opacity: 1;
}

.sorting a:active {
    color: #000000;
    opacity: 1;
    border-bottom: none;
}

.sorting .active, 
.sorting .active:hover,
.sorting .active:active {
    color: #81b3d2;
    opacity: 1;
    border-bottom: none;
}

.arrows {

}

.view {
    line-height: 21px;
    color: #000000;

    background-color: #ffffff;
    border-bottom: 1px solid #e5e5e5;
}

.view-description h2 {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.view-description a {
    color: #000000;
}

.view-description a:hover {
    color: #81b3d2;
}

.view-description a:active {
    color: #000000;
    opacity: 0.3;
}

.view-description span {
    color: #333333;
}

.btn {
    font-weight: 700;
    color: #ffffff;
}

.btn-more {
    background-color: #81b3d2;
}

.btn-more:hover {
    background-color: #669ec0;
}

.btn-more:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.btn-reserve {
    background-color: #766357;
}

.btn-reserve:hover {
    background-color: #604e43;
}

.btn-reserve:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}

.rating {
    color: #666666;
    background-color: #f2f2f2;
}