html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 1200px;

    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    text-transform: uppercase;

    background-color: #f2f2f2;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

.container-all {
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0 0 30px 10px #dedede;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-header {
    background-color: #ffffff;
}


.main-nav {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    width: 100%;
}

.inner {
    display: flex;
    padding-left: 71px;
    padding-right: 72px;
}

.main-nav .inner {
    flex-direction: column;
}

.main-nav .nav {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
} 

.nav li {
    width: 23%;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
}

.nav li:nth-child(3) {
    margin-left: auto;
    text-align: right;
}

.nav li:nth-child(4) {
    text-align: right;
}

.nav a {
    font-weight: bold;
    color: #000000;
}

.nav a:hover {
    color: #a3c7de;
}

.nav a:active {
    color: #000000;
    opacity: 0.3;
}

.logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

.main-index {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main-image {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: #45535e url("../img/background-photo.jpg") no-repeat 0 -56px;
}


.main-image::after {
    content: "";
    height: 58px;
    width: 1201px;
    background: url("../img/polygon.png") no-repeat; 
}

.welcome-img {
    margin-top: 76px;
    margin-bottom: 21px;
}


.feature-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 59px;
    padding-bottom: 51px;
    
    color: #000000;

    background-color: #ffffff;
}

.feature-title h2 {
    margin: 0;
    margin-bottom: 29px;
    width: 600px;

    font-size: 21px;
    font-weight: 700;
}

.feature-title p {
    margin: 0;
}

.features-image {
    display: flex;
    color: #ffffff;
    background-color: #ffffff
}

.features-image .feature-item {
    background-color: #81b3d2;
}

.feature-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 400px;
    padding: 45px;
    line-height: 21px;
}

.feature-item-img {
    display: flex;
}

.feature-item h3 {
    margin: 0 auto 24px;
    width: 155px;
    font-size: 21px;
    font-weight: 700;
}

.feature-item span {
    display: block;
    margin-bottom: 23px;
}

.feature-item p {
    margin: 0;
}

.feature-icons {
    display: flex;
    color: #000000;
    background-color: #ffffff;
}

.feature-list {
    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;
}

.feature-icons .feature-item {
    padding-top: 0;
    padding-bottom: 83px;
    padding-left: 50px;
    padding-right: 50px;
}

.feature-icons .icon-title {
    margin-top: 160px;
}

.icon-appartment {
    background: url("../img/icon-appartment.svg") no-repeat 50% 60px;
}

.icon-food {
    background: url("../img/icon-food.svg") no-repeat 50% 61px;
}

.icon-gift {
    background: url("../img/icon-gift.svg") no-repeat 50% 56px;
}

.features {
    display: flex;
    color: #000000;
    background-color: #eeeeee;
}

.features p {
    padding: 0 20px;
}

.features .feature-item {
    padding-bottom: 59px;
}

.interested {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000000;
    background-color: #ffffff;
}

.int-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    margin-bottom: 46px;
}

.int-container h2 {
    width: 600px;
    margin: 0;
    margin-bottom: 24px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}

.int-container p {
    margin: 0;
    line-height: 24px;
}

.form-container {
    display: flex;
    width: 568px;
}

.search-btn {
    width: 100%;
    padding: 30px 0;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    color: #ffffff;

    background-color: #766357;
}

.search-btn:hover {
    background-color: #604e43;
}

.search-btn:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}

.map {
    display: flex;
    height: 593px; 
    background-image: url("../img/map.jpg");
}

.footer {
    display: flex;
    color: #000000;
    background-color: #ffffff;
}

.footer-index {
    margin-top: -120px;
    opacity: 0.9;
}

.footer-contacts,
.footer-social,
.footer-copyright {
    width: 400px;
    padding: 36px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer-social a:nth-child(2) {
    margin: 0 6px;
}


.footer-contacts a {
    font-size: 21px;
    font-weight: 700;
    color: #000000;
}

.social-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 48px;
    color: #ffffff;

    background-color: #81b3d2;
}

.social-btn:hover {
    background-color: #669ec0;
}

.social-btn:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.tw-icon,
.fb-icon,
.yt-icon {
    fill: currentColor;
}

.footer-copyright span {
    margin-right: 9px;
}

.academy-btn {
    display: flex;
    color: #231f20;
}

.academy-btn:hover {
    color: #81b3d2;
}

.academy-btn:active {
    color: #bdbbbc;
}

.logo-academy {
    width: 115px;
    height: 41px;
    fill: currentColor;
}

/* form-search */

.form-container {
    position: relative;
    flex-direction: column;
}

.form-search {
    position: absolute;
    top: 86px;
    
    width: 568px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 55px 0;
    background-color: #ffffff;
}

.form-search-wrapper {
    width: 458px;
    display: flex;
    flex-direction: column;
}

.form-search label {
    padding: 6px 0;
    font-weight: 700;
}

.form-search input {
    font: inherit;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 26px;
    color: #000000;

    background-color: #f2f2f2;
    border: 2px solid #f2f2f2;
}

.form-search input:hover {
    background-color: #ebebeb;
}

.form-search input:focus {
    background-color: #ffffff;
}

.date-container {
    display: flex;
    position: relative;
    margin-bottom: 30px;
}

.calendar {
    position: absolute;
    right: 8px;
    top: 7px;
    width: 21px;
    height: 22px;
    color: #a9a9a9;
}

.calendar:hover {
    color: #000000;
}

.calendar:active {
    color: #81b3d2;
}

.calendar svg {
    fill: currentColor;
}

.number-of-persons {
    display: flex;
    margin-bottom: 55px;
}

.date-container input {
    padding-left: 12px;
    margin-left: auto;
    width: 346px;
}

.half-width {
    display: flex;
    width: 50%;
}

.half-width input {
    width: 38px;
    text-align: center;
}

.adults,
.kids {
    display: flex;
    width: 114px;
    margin-left: auto;
}

.adults {
    margin-right: 4px;
}

.kids-label {
    margin-left: 50px;
}

.btn-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    color: #a9a9a9;
    background-color: #f2f2f2;
    border: none;
}

.btn-icon:hover {
    color: #000000;
}

.btn-icon:active {
    color: #81b3d2;
}

.btn-icon .plus {
    font-size: 26px;
    font-weight: bold;
}

.btn-icon .minus {
    font-size: 21px;
    font-weight: bold;
}

.btn-icon svg {
    fill: currentColor;
}

.find-btn {
  display: block;
  padding: 15px 0px;
  font: inherit;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.find-btn:hover {
    background-color: #669ec0;
}

.find-btn:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}
/*
.form-search {
    display: none;
} */

/* hotels.html */

.nav .current,
.nav .current:hover,
.nav .current:active {
    color: #766357;
    opacity: 1;
}

.main-hotels {
    display: flex;
    flex-direction: column;
}

.hotels-filter {
    display: flex;
    color: #ffffff;

    background: #84a3c2 url("../img/filter-background.jpg") no-repeat 0 -56px;;
}

.form-filter {
    display: flex;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 7px;
    line-height: 21px;
}

.infastructure,
.type-of-housing {
    display: flex;
    width: 25%;
}

.type-of-housing {
    margin-left: -10px;
}

.filter-range-container {
    display: flex;
    width: 50%;
    margin-left: auto;
}

.form-filter legend {
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: 700;
}

fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

fieldset ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.infastructure-list li,
.type-of-housing-list li {
    margin-bottom: 25px;
}

.form-filter input[type=checkbox] {
    display: none;
}

.infastructure label {
    position: relative;
    padding-left: 40px;
}

.type-of-housing label {
    position: relative;
    padding-left: 42px;
}

input[type=checkbox] + label::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    width: 23px;
    height: 23px;
    background: url("../img/checkbox-off.svg") no-repeat;
}

input[type=checkbox]:checked + label::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    width: 27px;
    height: 23px;
    background: url("../img/checkbox-on.svg") no-repeat;
}

.filter-range {
    width: 317px;
    margin-left: auto;
  
    color: #ffffff;
    text-transform: uppercase;
}
  
.filter-range-title {
    margin-bottom: 9px;
  
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
}
  
.price-controls {
    position: relative;
    
    height: 36px;
    margin-bottom: 20px;
    
    font-size: 0;
  
    border: 2px solid #ffffff;
    border-radius: 2px;
}
  
.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
  
    width: 2px;
    height: 22px;
  
    background: #ffffff;
    transform: translate(-50%, -50%);
}
  
.price-controls label {
    display: inline-block;
  
    font-size: 14px;
    line-height: 32px;
    vertical-align: top;
  
    cursor: pointer;
}
 
.price-controls .min-price {
    padding-left: 64px;
}

.price-controls .max-price {
    padding-left: 75px;
}
 
.price-controls input {
    width: 50px;
    margin: 0;
    line-height: 21px;
  
    color: inherit;
    font: inherit;
  
    background: none;
    border: none;
}
 
.range-controls {
    position: relative;
  
    margin-bottom: 32px;
}
  
.range-controls .scale {
    height: 2px;
  
    background: rgba(255, 255, 255, 0.3);
}
  
.range-controls .bar {
    width: 80%;
    height: 2px;
  
    background: #ffffff;
}
  
.range-toggle {
    position: absolute;
    top: -9px;
    
    width: 20px;
    height: 23px;
  

    cursor: pointer;
}
 
.range-toggle-min {
    left: 0;
}
  
.range-toggle-max {
    left: 80%;
}
  
.btn-transparent {
    display: block;
    margin: 0;
    margin-left: 85px;
    padding: 6px 35px;
  
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    text-transform: uppercase;
  
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}
  
.btn-transparent:hover {
    color: #000000;
  
    background: #ffffff;
}

.results {
    display: flex;
    padding: 30px 0;
    color: #000000;

    background-color: #ffffff;
    border-bottom: 1px solid #e5e5e5;
}

.found {
    display: flex;
    align-items: center;
    width: 165px;
    font-size: 21px;
    font-weight: 700;
}

.sorting {
    display: flex;
    align-items: center;
    width: 355px;
    font-size: 12px;
    line-height: 18px;
}

.sorting span {
    display: flex;
    margin-right: 11px;
}

.sorting-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sorting-list li {
    padding-left: 29px;
}

.sorting a {
    color: #000000;
    opacity: 0.3;
    border-bottom: 1px dotted #81b3d2;
}

.sorting a:hover {
    color: #81b3d2;
    opacity: 1;
}

.sorting a:active {
    color: #000000;
    opacity: 1;
    border-bottom: none;
}

.results .active, 
.results .active:hover,
.results .active:active {
    color: #81b3d2;
    opacity: 1;
    border-bottom: none;
}

.arrows {
    display: flex;
    justify-content: space-between;
    width: 34px;
    margin-left: auto;
}

.up-dir {
    color: #cacaca;
}

.up-dir:hover {
    color: #231f20;
}

.up-dir:active {
    color: #81b3d2;
}

.down-icon,
.up-icon {
    fill: currentColor;
}

.view {
    display: flex;
    padding-top: 29px;
    padding-bottom: 30px;
    line-height: 21px;
    color: #000000;

    background-color: #ffffff;
    border-bottom: 1px solid #e5e5e5;
}

.photo {
    display: inline-block;
    width: 135px;
    height: 90px;
    margin-right: 31px;
}

.photo img {
    width: 135px;
    height: 90px;
}

.description {
    display: inline-block;
}

.description h2 {
    margin: 0;
    margin-bottom: 8px;
    margin-top: -5px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.hotel-type {
    margin-bottom: 17px;
}

.hotel-type span {
    display: inline-block;
    width: 112px;
    color: #333333;
}

.hotel-name {
    color: #000000;
}

.hotel-name:hover {
    color: #81b3d2;
}

.hotel-name:active {
    color: #000000;
    opacity: 0.3;
}

.info-btns {
    display: inline-block;
}

.btn {
    padding: 3px 16px;
    font-weight: 700;
    color: #ffffff;
}

.btn-more {
    margin-right: 6px;
    background-color: #81b3d2;
}

.btn-more:hover {
    background-color: #669ec0;
}

.btn-more:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.btn-reserve {
    background-color: #766357;
}

.btn-reserve:hover {
    background-color: #604e43;
}

.btn-reserve:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}

.view-rating {
    margin-left: auto;

}

.stars {
    display: block;
    text-align: right;
    margin-bottom: 41px;
}

.rating {
    display: block;
    padding: 3px 13px;
    color: #666666;
    background-color: #f2f2f2;
}