html,
body {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    min-width: 1200px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    text-transform: uppercase;
    background-color: #f2f2f2;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

.container-all {
    width: 1200px;
    margin: 0 auto;
    -webkit-box-shadow: 0 0 30px 10px #dedede;
    box-shadow: 0 0 30px 10px #dedede;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-header {
    background-color: #ffffff;
}

.main-nav {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.inner {
    padding-left: 71px;
    padding-right: 72px;
}

.main-nav .nav {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
}

.nav li {
    width: 23%;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
}

.nav li:nth-child(3) {
    margin-left: auto;
    text-align: right;
}

.nav li:nth-child(4) {
    text-align: right;
}

.nav a {
    font-weight: bold;
    color: #000000;
}

.nav a:hover {
    color: #a3c7de;
}

.nav a:active {
    color: #000000;
    opacity: 0.3;
}

.logo {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    z-index: 2;
}

.main-index {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
}

.main-image {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #45535e url("../img/background-photo.jpg") no-repeat 0 -56px;
}

.main-image::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 58px;
    width: 100%;
    background: url("../img/intro-mask.svg") no-repeat;
}

.welcome-img {
    margin-top: 76px;
    margin-bottom: 79px;
}

.feature-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 50px;
    color: #000000;
    background-color: #ffffff;
}

.feature-title h2 {
    margin: 0;
    margin-bottom: 28px;
    width: 600px;
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 0.2px;
}

.feature-title p {
    margin: 0;
    letter-spacing: 0.1px;
}

.features-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #ffffff;
    background-color: #81b3d2;
}

.feature-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 400px;
    padding-top: 46px;
    padding-right: 45px;
    padding-bottom: 44px;
    padding-left: 45px;
    line-height: 21px;
}

.feature-item-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.feature-item h3 {
    margin: 0 auto 25px;
    width: 155px;
    font-size: 21px;
    font-weight: 700;
}

.feature-item span {
    display: block;
    margin-bottom: 21px;
}

.feature-item p {
    margin: 0;
}

.feature-item-1 p {
    padding: 0 7px;
    letter-spacing: 0.3px;
}

.feature-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #000000;
    background-color: #ffffff;
}

.feature-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.feature-icons .feature-item {
    padding-top: 0;
    padding-right: 50px;
    padding-bottom: 82px;
    padding-left: 50px;
}

.feature-icons .icon-title {
    margin-top: 161px;
    margin-bottom: 24px;
}

.icon-appartment {
    background: url("../img/icon-appartment.svg") no-repeat 50% 60px;
}

.icon-food {
    background: url("../img/icon-food.svg") no-repeat 50% 61px;
}

.icon-gift {
    background: url("../img/icon-gift.svg") no-repeat 50% 56px;
}

.icon-gift p {
    letter-spacing: 0.2px;
}

.features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #000000;
    background-color: #eeeeee;
}

.features p {
    padding: 0 20px;
    letter-spacing: 0.1px;
}

.feature-item-5 p {
    padding: 0 25px;
}

.features .feature-item {
    padding-bottom: 59px;
}

.interested {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #000000;
    background-color: #ffffff;
}

.int-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 50px;
    margin-bottom: 47px;
}

.int-container h2 {
    width: 600px;
    margin: 0;
    margin-bottom: 24px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}

.int-container p {
    margin: 0;
    line-height: 24px;
}

.form-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 568px;
}

.search-btn {
    width: 100%;
    padding: 30px 0;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    color: #ffffff;
    background-color: #766357;
}

.search-btn:hover {
    background-color: #604e43;
}

.search-btn:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}

.map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 593px;
    background: #cccccc url("../img/map.jpg") no-repeat;
}

.map iframe {
    width: 100%;
    height: 593px;
}

.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #000000;
    background-color: #ffffff;
}

.footer-index {
    margin-top: -120px;
    opacity: 0.9;
}

.footer-contacts,
.footer-social,
.footer-copyright {
    width: 400px;
    padding: 36px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.footer-social a {
    margin: 0 3px;
}

.footer-contacts a {
    font-size: 21px;
    font-weight: 700;
    color: #000000;
}

.social-btn {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 46px;
    height: 48px;
    color: #ffffff;
    background-color: #81b3d2;
}

 /* для наследования :active в ie11 */
.social-btn::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.social-btn:hover {
    background-color: #669ec0;
}

.social-btn:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.tw-icon,
.fb-icon,
.yt-icon {
    fill: currentColor;
}

.footer-copyright span {
    margin-right: 9px;
}

.academy-btn {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #231f20;
}

 /* для наследования :active в ie11 */
.academy-btn::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.academy-btn:hover {
    color: #81b3d2;
}

.academy-btn:active {
    color: #bdbbbc;
}

.logo-academy {
    width: 115px;
    height: 41px;
    fill: currentColor;
}

/* form-search */

.form-container {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.form-search {
    position: absolute;
    top: 86px;
    width: 568px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 55px 0;
    background-color: #ffffff;
}

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }

    70% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }

    90% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes bounce {
    0% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }

    70% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }

    90% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.form-search-hide {
    display: none;
}

.form-search-show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation: bounce 0.6s;
    animation: bounce 0.6s;
}

.form-search-wrapper {
    width: 458px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.form-search label {
    padding: 6px 0;
    font-weight: 700;
}

.form-search input {
    font: inherit;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 26px;
    color: #000000;
    background-color: #f2f2f2;
    border: 2px solid #f2f2f2;
}

.form-search input:hover {
    background-color: #ebebeb;
}

.form-search input:focus {
    background-color: #ffffff;
}

.date-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin-bottom: 30px;
}

.date-container label {
    letter-spacing: 0.2px;
}

.calendar {
    position: absolute;
    right: 8px;
    top: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 21px;
    height: 22px;
    padding: 0;
    font: inherit;
    color: #a9a9a9;
    border: none;
    background-color: #f2f2f2;
    cursor: pointer;
}

.calendar:hover,
.calendar:focus {
    color: #000000;
}

.calendar:active {
    color: #81b3d2;
}

.calendar svg {
    fill: currentColor;
}

.number-of-persons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 54px;
}

.date-container input {
    padding-left: 12px;
    margin-left: auto;
    width: 346px;
}

.half-width {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
}

.half-width input {
    width: 38px;
    text-align: center;
}

.adults,
.kids {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 114px;
    margin-left: auto;
}

.adults {
    margin-right: 4px;
}

.kids-label {
    margin-left: 50px;
}

.btn-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 38px;
    height: 38px;
    color: #a9a9a9;
    background-color: #f2f2f2;
    border: none;
    cursor: pointer;
}

.btn-icon:hover,
.btn-icon:focus {
    color: #000000;
}

.btn-icon:active {
    color: #81b3d2;
}

.btn-icon .plus {
    font-size: 26px;
    font-weight: bold;
}

.btn-icon .minus {
    font-size: 21px;
    font-weight: bold;
}

.btn-icon svg {
    fill: currentColor;
}

.find-btn {
    display: block;
    padding: 15px 0px;
    font: inherit;
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #81b3d2;
    border: none;
    cursor: pointer;
}

.find-btn:hover {
    background-color: #669ec0;
}

.find-btn:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

/* hotels.html */

.nav .current,
.nav .current:hover,
.nav .current:active {
    color: #766357;
    opacity: 1;
}

.main-hotels {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.hotels-filter {
    color: #ffffff;
    background: #84a3c2 url("../img/filter-background.jpg") no-repeat 0 -56px;
}

.form-filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 27px;
    padding-bottom: 6px;
    line-height: 21px;
}

.infastructure,
.type-of-housing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 25%;
    padding: 0;
    margin: 0;
    border: none;
}

.type-of-housing {
    margin-left: -10px;
}

.infastructure ul,
.type-of-housing ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.filter-range-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    margin-left: auto;
}

.form-filter legend {
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: 700;
}

.infastructure legend {
    letter-spacing: 0.3px;
}

.checkbox-container {
    position: relative;
    margin-bottom: 25px;
}

.form-filter input[type=checkbox] {
    position: absolute;
    top: 0;
    left: 0;
    width: 27px;
    height: 23px;
    opacity: 0;
}

.infastructure label {
    position: relative;
    padding-left: 40px;
}

.type-of-housing label {
    position: relative;
    padding-left: 42px;
}

input[type=checkbox] + label::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    width: 23px;
    height: 23px;
    background: url("../img/checkbox-off.svg") no-repeat;
}

input[type=checkbox]:focus + label::before {
    -webkit-box-shadow: 0 0 0 3px #5496bd;
    box-shadow: 0 0 0 3px #5496bd;
}

input[type=checkbox]:checked + label::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    width: 27px;
    height: 23px;
    background: url("../img/checkbox-on.svg") no-repeat;
}

input[type=checkbox]:disabled + label::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    width: 23px;
    height: 23px;
    background: url("../img/checkbox-off-disabled.svg") no-repeat;
}

input[type=checkbox]:checked:disabled + label::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    width: 27px;
    height: 23px;
    background: url("../img/checkbox-on-disabled.svg") no-repeat;
}

.filter-range {
    width: 317px;
    margin-left: auto;
    color: #ffffff;
    text-transform: uppercase;
}

.filter-range-title {
    margin-bottom: 9px;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.1px;
}

.price-controls {
    position: relative;
    height: 36px;
    margin-bottom: 20px;
    font-size: 0;
    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
    background: #ffffff;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.price-controls label {
    display: inline-block;
    font-size: 14px;
    line-height: 32px;
    vertical-align: top;
    cursor: pointer;
}

.price-controls .min-price {
    padding-left: 64px;
}

.price-controls .max-price {
    padding-left: 75px;
}

.price-controls input {
    width: 50px;
    margin: 0;
    color: inherit;
    font: inherit;
    line-height: 21px;
    background: none;
    border: none;
}

.range-controls {
    position: relative;
    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;
    width: 20px;
    height: 23px;
    cursor: pointer;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.range-toggle svg:hover {
    width: 22px;
    height: 25px;
}

.btn-transparent {
    display: block;
    margin: 0;
    margin-left: 85px;
    padding: 6px 34px;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.btn-transparent:hover {
    color: #000000;
    background: #ffffff;
}

.results {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 30px 0;
    color: #000000;
    background-color: #ffffff;
    border-bottom: 1px solid #e5e5e5;
}

.wrapper {
    width: 100%;
}

.results .inner,
.view .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.found {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 165px;
    font-size: 21px;
    font-weight: 700;
}

.sorting {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 355px;
    padding-top: 3px;
    font-size: 12px;
    line-height: 18px;
}

.sorting span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 8px;
}

.sorting-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sorting-list li {
    padding-left: 32px;
}

.sorting a {
    color: #000000;
    opacity: 0.3;
    border-bottom: 1px dotted #81b3d2;
}

.sorting a:hover {
    color: #81b3d2;
    opacity: 1;
}

.sorting a:active {
    color: #000000;
    opacity: 1;
    border-bottom: none;
}

.results .active, 
.results .active:hover,
.results .active:active {
    color: #81b3d2;
    opacity: 1;
    border-bottom: none;
}

.arrows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 34px;
    margin-left: auto;
}

.up-dir {
    position: relative;
    color: #cacaca;
}

 /* для наследования :active в ie11 */
.up-dir::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.up-dir:hover {
    color: #231f20;
}

.up-dir:active {
    color: #81b3d2;
}

.down-icon,
.up-icon {
    fill: currentColor;
}

.view {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 29px;
    padding-bottom: 30px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
    border-bottom: 1px solid #e5e5e5;
}

.photo {
    display: inline-block;
    width: 135px;
    height: 90px;
    margin-right: 31px;
    vertical-align: top;
}

.photo img {
    width: 135px;
    height: 90px;
}

.description {
    display: inline-block;
    max-width: 50%;
    vertical-align: top;
}

.description h2 {
    margin: 0;
    margin-bottom: 8px;
    margin-top: -5px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.hotel-type {
    margin-bottom: 17px;
}

.hotel-type span {
    display: inline-block;
    width: 112px;
    color: #333333;
    vertical-align: top;
}

.hotel-name {
    letter-spacing: 0.3px;
    color: #000000;
}

.hotel-name:hover {
    color: #81b3d2;
}

.hotel-name:active {
    color: #000000;
    opacity: 0.3;
}

.info-btns {
    display: inline-block;
    vertical-align: top;
}

.btn {
    padding: 4px 16px;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 0.2px;
}

.btn-more {
    margin-right: 2px;
    background-color: #81b3d2;
}

.btn-more:hover {
    background-color: #669ec0;
}

.btn-more:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.btn-reserve {
    background-color: #766357;
}

.btn-reserve:hover {
    background-color: #604e43;
}

.btn-reserve:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}

.view-rating {
    margin-left: auto;
}

.stars {
    display: block;
    text-align: right;
    margin-bottom: 41px;
}

.stars svg {
    margin-left: 2px;
}

.rating {
    display: block;
    padding: 3px 13px;
    color: #666666;
    background-color: #f2f2f2;
}